<div class="w-full mx-auto mt-8">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold text-center text-gray-900 mb-6">Edit Assignment</h2>
    <%= form_with url: "/assignments/#{@assignment.id}/update", method: :post, id: "edit_assignment", locals: true do |form| %>
      <div class="mb-4">
        <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :name, value: @assignment.name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_area :content, value: @assignment.content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-32" %>
      </div>

      <div class="mb-6">
        <%= form.label :supporting_documents, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.file_field :supporting_documents, multiple: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% if @assignment.supporting_documents.attached? %>
          <div class="mt-4">
            <p class="block text-gray-700 text-sm font-bold mb-2">Current Files:</p>
            <ul>
              <% @assignment.supporting_documents.each do |file| %>
                <li>
                  <%= link_to file.filename, rails_blob_path(file, disposition: "attachment"), class: "text-blue-500 hover:underline" %>
                  <%= link_to "Remove", "/assignments/#{@assignment.id}/supporting_documents/#{file.id}/delete", class: "text-red-500 hover:underline ml-2" %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
      <div class="flex items-center justify-center">
        <%= form.submit "Create Assignment", style: "display: none;", id: 'save-assignment' %>
        <a href="javascript:document.getElementById('save-assignment').click()" class="link-button green-button">Save Assignment</a>
        &nbsp;
        <a href="/assignments/<%= @assignment.id %>" class="link-button blue-button">View Assignment</a>
      </div>
      
    <% end %>

    <div class="flex items-center justify-center mt-5">
      <form action="/assignments/<%= @assignment.id %>/delete" method="post">
        <button type="submit" id="delete-assignment" style="display: none;"></button>
        <a href="javascript:document.getElementById('delete-assignment').click()" class="link-button red-button">Delete Assignment</a>
      </form>
    </div>

  </div>
</div>
